[user]
    name = F. Jerrell Schivers
    email = jerrell@bordercore.com
[color]
    ui = true
[branch]
    autosetuprebase = always
[color "diff"]
    meta = yellow
    frag = cyan
    old = white
    new = green bold
    whitespace = red reverse
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[core]
    whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
[alias]
    co = "!f() { git checkout $(git branch --all | grep \"$1\" | grep -v HEAD | head -n 1 | sed 's/^[* ] //;s#remotes/[^/]*/##'); }; f"
    glog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset' --date=format:%m-%d-%Y
    l = log --oneline --decorate
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    s = status -sb
    st = stash list --date=local
    undo = reset --soft HEAD^
[credential]
    helper = cache --timeout=7200
[push]
    default = simple
[status]
    # show individual files in untracked directories
    showUntrackedFiles = all
